<ng-container>
  <nz-row>
    <nz-card [nzLoading]="loading" style="width: 100%">
      <nz-card-meta
        nzTitle="Dirección"
        nzDescription="{{property?.address}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Tipo de propiedad"
                    nzDescription="{{property?.property_type == 'house' ? 'Casa' : 'Departamento'}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Tamaño de propiedad" nzDescription="{{property?.property_size}} mt2"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Cliente"
                    nzDescription="{{property?.customer?.first_name}} {{property?.customer?.last_name}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Ubicación"
                    nzDescription="Latitud: {{property?.latitude}} Longitud: {{property?.longitude}}">
      </nz-card-meta>
    </nz-card>
    <nz-button-group>
      <button nz-button nzType="primary" (click)="back()">Regresar</button>
      <button nz-button nzType="primary" (click)="edit(property?.id)">Editar</button>
      <button nz-button nzType="primary" (click)="documents(property?.id)">Documentos</button>
    </nz-button-group>
  </nz-row>
</ng-container>
