<!--
[
    {
        "id": 1,
        "address": "Club Social 24 de Septiembre, 21, Calle Ayacucho, Bancario, Municipio Santa Cruz de la Sierra, Provincia Andrés Ibáñez, Santa Cruz, Bolivia",
        "property_type": "house",
        "property_size": "900",
        "latitude": -17.7839869573924,
        "longitude": -63.1827592849732,
        "customer": {
            "id": 13,
            "person": {
                "name": "Felix Daniel",
                "surname": "Coca",
                "lastname": "Calvimonte",
                "identity_document": "98765432"
            }
        }
    }
]
-->
<ng-container>
  <nz-row>
    <nz-card [nzLoading]="loading" style="width: 100%">
      <nz-card-meta
        nzTitle="Dirección"
        nzDescription="{{property?.address}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Tipo de propiedad"
                    nzDescription="{{property?.property_type == 'house' ? 'Casa' : 'Departamento'}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Tamaño de propiedad" nzDescription="{{property?.property_size}} mt2"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Cliente"
                    nzDescription="{{property?.customer?.person?.name}} {{property?.customer?.person?.surname}} {{property?.customer?.person?.lastname}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Ubicación"
                    nzDescription="Latitud: {{property?.latitude}} Longitud: {{property?.longitude}}">
      </nz-card-meta>
    </nz-card>
    <nz-button-group>
      <button nz-button nzType="primary" (click)="back()">Regresar</button>
      <button nz-button nzType="primary" (click)="edit(property?.id)">Editar</button>
      <button nz-button nzType="primary" (click)="documents(property?.id)">Documentos</button>
    </nz-button-group>
  </nz-row>
</ng-container>
