<ng-container>
    <nz-row>
      <nz-button-group>
        <button nz-button nzType="primary" (click)="addEmployee()" *ngIf="!newEmployee">
          <i nz-icon nzType="plus"></i>
          <span>Agregar empleado</span>
        </button>
        <button nz-button nzType="primary" (click)="restoreView()" *ngIf="!listEmployee">
          <i nz-icon nzType="plus"></i>
          <span>Cancelar</span>
        </button>
      </nz-button-group>
    </nz-row>
  </ng-container>
  <ng-container *ngIf="listEmployee">

  </ng-container>

