<nz-card [nzBordered]="false" [nzHoverable]="true">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" nz-form [nzLayout]="'horizontal'">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input nz-input placeholder="Placa" formControlName="plate" type="text" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input nz-input placeholder="Color" formControlName="color" type="color" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input nz-input placeholder="Descripción" formControlName="description" type="text" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Marca" formControlName="brand_id">
            <nz-option *ngFor="let brand of brands" nzLabel="{{brand.name}}" nzValue="{{brand.id}}"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!formGroup.valid">Crear</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
