<ng-container>
  <nz-button-group>
    <button nz-button nzType="primary" routerLink="/rents/new">Nuevo</button>
  </nz-button-group>
</ng-container>
<ng-container>
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
    <tr>
      <th>Lugar</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Monto</th>
      <th>Dueño</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.property_id}}</td>
      <td>{{data.start_date}}</td>
      <td>{{data.end_date}}</td>
      <td>{{data.amount}}</td>
      <td>{{data.property?.customer?.person?.name}} {{data.property?.customer?.person?.surname}} {{data.property?.customer?.person?.lastname}}</td>
      <td>
        <a routerLink="/rents/{{data.id}}/info">Ver</a>
        <nz-divider nzType="vertical"></nz-divider>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-container>

