<ng-container>
  <nz-button-group>
    <button nz-button nzType="primary">
      <a routerLink="/properties/new">Nuevo</a>
    </button>
  </nz-button-group>
</ng-container>
<ng-container>
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
    <tr>
      <th>Dirección</th>
      <th>Tipo de propiedad</th>
      <th>Tamaño</th>
      <th>Dueño</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.address}}</td>
      <td>{{data.property_type ? data.property_type == 'house' ? 'Casa' : 'Departamento' : ''}}</td>
      <td>{{data.property_size}} mt2</td>
      <td>{{data.customer.first_name}} {{data.customer.last_name}}</td>
      <td>
        <a routerLink="/properties/{{data.id}}">Ver</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="showModal(data.id)">Elmininar</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-container>
<ng-container>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Eliminar?" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <p>No se puede eliminar, tienes que contactar con el administrador!</p>
    </ng-container>
  </nz-modal>
</ng-container>
