<ng-container>
  <div class="terms-container">
    <!-- Lorem ipsum -->

    <div class="terms-container__terms">
      <div class="terms-container__terms__title">
        <h2>Terms and Conditions</h2>
      </div>
      <div class="terms-container__terms__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          condimentum, nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec
          tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam lacinia,
          nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl. Sed euismod,
          nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec tincidunt nisl
          nisl eget nisl. Sed euismod, nisl ut aliquam lacinia, nisl nisl aliquet
          nisl, nec tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam
          lacinia, nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl.
          Sed euismod, nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec
          tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam lacinia,
          nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl. Sed euismod,
          nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec tincidunt nisl
          nisl eget nisl. Sed euismod, nisl ut aliquam lacinia, nisl nisl aliquet
          nisl, nec tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam
          lacinia, nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl.
          Sed euismod, nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec
          tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam lacinia,
          nisl nisl aliquet nisl
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          condimentum, nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec
          tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam lacinia,
          nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl. Sed euismod,
          nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec tincidunt nisl
          nisl eget nisl. Sed euismod, nisl ut aliquam lacinia, nisl nisl aliquet
          nisl, nec tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam
          lacinia, nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl.
          Sed euismod, nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec
          tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam lacinia,
          nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl. Sed euismod,
          nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec tincidunt nisl
          nisl eget nisl. Sed euismod, nisl ut aliquam lacinia, nisl nisl aliquet
          nisl, nec tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam
          lacinia, nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl.
          Sed euismod, nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec
          tincidunt nisl nisl eget nisl. Sed euismod, nisl ut aliquam lacinia,
          nisl nisl aliquet nisl, nec tincidunt nisl nisl eget nisl. Sed euismod,
          nisl ut aliquam lacinia, nisl nisl aliquet nisl, nec tincidunt nisl
          nisl eget nisl. Sed eu
        </p>
      </div>
    </div>
  </div>
</ng-container>
