<ng-container>
  <form nz-form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input nz-input placeholder="Dirección" formControlName="address"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <nz-select nzPlaceHolder="Tipo de propiedad" formControlName="propertyType">
            <nz-option nzLabel="Casa" nzValue="house"></nz-option>
            <nz-option nzLabel="Departamento" nzValue="apartment"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <nz-select nzPlaceHolder="Propietario" formControlName="customer_id">
            <nz-option *ngFor="let customer of customers" [nzLabel]="customer.name" [nzValue]="customer.id"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!formGroup.valid" htmlType="submit">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-container>
