<header>
  <h1>Central park</h1>
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nuestra instalación</a></li>
      <li><a href="#">Contacto</a></li>
      <li *ngIf="!hasUser"><a routerLink="/login">Iniciar sesión</a></li>
      <li *ngIf="!hasUser"><a routerLink="/signup">Registrarse</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>Parqueo de 5 plantas en Santa Cruz de la Sierra</h2>
  <p>Bienvenidos a Central Park, nuestro edificio de parqueos cuenta con cinco pisos y una capacidad para más de 500
    vehículos.</p>
<!--  <img src="centralpark.jpg" alt="Central Park">-->
</main>

<footer>
  <p>Central park &copy; 2023</p>
</footer>
