<ng-container>
  <nz-row>
    <nz-card [nzLoading]="loading" style="width: 100%">
      <nz-card-meta
        nzTitle="Nombre"
        nzDescription="{{customer?.name}} {{customer?.surname}} {{customer?.lastname}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Correo" nzDescription="{{customer?.email}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Teléfono" nzDescription="{{customer?.phone}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Documento de identidad" nzDescription="{{customer?.identity_document}}"></nz-card-meta>
    </nz-card>
    <nz-button-group>
      <button nz-button nzType="primary" (click)="back()">Regresar</button>
    </nz-button-group>
  </nz-row>
</ng-container>
<nz-divider nzType="horizontal"></nz-divider>
<ng-container>
  <nz-button-group>
    <button nz-button nzType="primary" (click)="addVehicle()">Agregar vehículo</button>
  </nz-button-group>
  <nz-table #basicTable [nzData]="dataSetVehicles">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Placa</th>
      <th>Color</th>
      <th>Marca</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data?.description}}</td>
      <td>{{data?.plate}}</td>
      <td>{{data?.color}}</td>
      <td>{{data?.brand?.name}}</td>
      <td>
        <button nz-button nzType="primary" (click)="viewProperty(data.id)">Ver</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-container>
<nz-divider nzType="horizontal"></nz-divider>
<ng-container>
  <nz-table #basicTable [nzData]="dataSetContracts">
    <thead>
    <tr>
      <th>Contrato</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Vehículo</th>
      <th>Monto</th>
      <th>Tipo de contrato</th>
      <th>Empleado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data?.id}}</td>
      <td>{{data?.start_date}}</td>
      <td>{{data?.end_date}}</td>
      <td>{{data?.vehicle?.description}}</td>
      <td>{{data?.amount_total}}</td>
      <td>{{data?.contract_type}}</td>
      <td>{{data?.employee?.name}}</td>
      <td>
        <button nz-button nzType="primary" (click)="viewContract(data.id)">Ver</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-container>

