<ng-container>
  <nz-row>
    <nz-card [nzLoading]="loading" style="width: 100%">
      <nz-card-meta
        nzTitle="Nombre"
        nzDescription="{{customer?.name}} {{customer?.surname}} {{customer?.lastname}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Correo" nzDescription="{{customer?.email}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Teléfono" nzDescription="{{customer?.phone}}"></nz-card-meta>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-card-meta nzTitle="Documento de identidad" nzDescription="{{customer?.identity_document}}"></nz-card-meta>
    </nz-card>
    <nz-button-group>
      <button nz-button nzType="primary" (click)="back()">Regresar</button>
    </nz-button-group>
  </nz-row>
</ng-container>
<ng-container>
  <nz-table #basicTable [nzData]="dataSetProperties" *ngIf="customer?.customer_type == 0">
    <thead>
      <tr>
        <th>Dirección</th>
        <th>Tipo de propiedad</th>
        <th>Tamaño de propiedad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.address}}</td>
        <td>{{data.property_type}}</td>
        <td>{{data.property_size}}</td>
        <td>
          <button nz-button nzType="primary" (click)="viewProperty(data.id)">Ver</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>

